<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test" parallel="classes">
  
    <classes>
      <class name="PlanetsSuperHerosPSH_KidsTest.PlanetsSuperHerosPSH_KidsTest"/>
      <class name="Modul1_PlanetSuperHeroeslogin_Signup_Test.HeroWelCompageTest"/>
      <class name="Modul2_PlanetSuperHeroesRegistration_Test.HerosRegistrationTest"/>
      <class name="PlanetSuperHerosShopTest.PlanetSuperHerosShopTest"/>
      <class name="Modul1_PlanetSuperHeroeslogin_Signup_Test.LoginPagTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
